<% if signed_in? %>
<div id="app"/>
<% else %>
<div class="thingy">
  <div class="nav-bar clear-nav-bar">
    <div class="nav-bar-thin">
      <%= link_to root_url do %>
        <img class="white-logo" src="https://res.cloudinary.com/duwqltu7o/image/upload/v1457117270/logo-white_i7ui3x.png"/>
      <% end %>
      <div class="nav-bar-link-container">
        <%= link_to 'Log in', new_session_url, class: "nav-bar-link white-link" %>
        <%= link_to 'How it works', root_url, class: "nav-bar-link white-link" %>
        <%= link_to 'Sign up', new_user_url, class: "nav-bar-link white-link" %>
      </div>
    </div>
  </div>


  <div class="hero-container">
    <div class="hero">
      <h1 class="hero-header">We lounge around.</h1>
      <h1 class="hero-header">You give us food.</h1>
      <!-- <div id="search-bar-splash"></div> -->
    </div>
  </div>

</div>

<div class="mktg-intermediate">
</div>
<div class="category-index-wrapper">
  <h2>Popular Tasks</h2>
  <div id="cat-index">
  </div>
</div>

<div class="footer">
  <div class="footer-container">
    <a class="footer-link" href="https://github.com/nmatte">GitHub</a><br/>
    <a class="footer-link" href="https://www.linkedin.com/in/nmatte">LinkedIn</a>
  </div>
</div>
<% end %>
