<% if signed_in? %>
<div id="app"/>
<% else %>
<div class="hero-container">
<div class="hero">
  <h1 class="hero-header">We lounge around.</h1>
  <h1 class="hero-header">You feed us.</h1>
</div>
</div>
<%= session[:session_token] %>
<% end %>
