.search-bar-result-item {
  width: 100%;
  color: #158AA2;
  padding: 0.75em 1.4em;
  font-size: 15px;
  height: 60px;
  line-height: 60px;
  display: flex;
  flex-direction: row;

  &:hover {
    background: #F5F6F6;
    color: #004C5A;
  }

  &:visited {
    color: #158AA2;
  }

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 24px;
  }
  span {
    height: 100%;
    line-height: 60px;
    display: inline-block;
  }
}
