/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0px;
  color: #323A3B;
}

/*@media screen and (min-width: 500px) {
  body {
    background: green
  }
}*/

a {
   text-decoration: none;
}

ul {
  list-style: none;
}

.content-container {
  max-width: 920px;
  margin: auto;
}

.shadow {
  -webkit-box-shadow: 0px 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 1px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 1px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


.dark-blue-button {
  color: white;
  border: 1px solid #23B4D2;
  background-color: #23B4D2;

  margin: 16px 0px 16px 0px;
  padding: 8px 22.08px 8px 22.08px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 16px;
  transition: 0.16s;
}

.dark-blue-button:hover {
  cursor: pointer;
  border: 1px solid #0D7488;
  background-color: #0D7488;
}

.dark-blue-button:focus {
  outline: none;
}

.blue-button {
  color: #23B4D2;
  border: 1px solid #23B4D2;
  background-color: white;
  display: table-cell;
  vertical-align: bottom;
  padding: 8px 22.08px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 16px;
  transition: 0.16s;
}

.blue-button:hover {
  color: white;
  cursor: pointer;
  background-color: #23B4D2;
}

.input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #CFD2D3;
  line-height: 1.4rem;
  padding: 10px 16px;
  font-size: 16px;
  box-sizing: border-box;
  transition: 0.10s;
}

.input:focus {
  outline: none;
  border: 1px solid #46C0D9;
}

textarea {
  resize: none;
}

/* thanks to http://projects.lukehaas.me/css-loaders/ for the animation! */

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #00964A;
  background: -moz-linear-gradient(left, #00964A 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #00964A 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #00964A 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #00964A 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #00964A 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #00964A;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: rgba(245,246,246,1.0);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
