.dashboard-main {
  max-width: 960px;
  padding-top: 32px;
  margin: auto;
}

.welcome-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  // position: relative;
}

.welcome-title {
  width: 100%;
  h1 {
    margin-top: 0px;
  }
}

.profile-avatar {
  min-width: 86px;
  min-height: 86px;
  max-width: 86px;
  max-height: 86px;
  border-radius: 50%;
  background-size: cover;
  position: relative;
  transform: translateY(20%);
  margin-right: 24px;
  background-repeat: no-repeat;
  background-image: url('http://res.cloudinary.com/duwqltu7o/image/upload/v1457114206/happy_cat_eewmsv.jpg');
}

.get-started-container {
  margin-top: 32px;

  h2 {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 44px;
    line-height: 44px;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
  }

  p {
    margin-bottom: 18px;
    margin-top: 0px;
    font-size: 16px;
  }

  h3 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 28px;
    height: 44px;
    line-height: 44px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    color: #00944A;
  }

.get-started-step {
  display: flex;
  flex-direction: row;
}

  .get-started-icon {
    margin: 7px 24px 0px 0px;
    border-radius: 50%;
    background: #00944A;
    color: white;
    min-width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
  }
}
