.nav-bar {
  padding: 12px 0px 12px 0px;
  display: block;
  background: white;
  height: 36px;
  border-bottom: 1px solid #EBECEC;

}

.clear-nav-bar {
  background: none;
  position: absolute;
  left: 0;
  right: 0;
  border: none;
  max-width: 1200px;
  margin: auto;
  height: 40px;
  padding: 24px 0px;
}
.nav-bar-thin {
  padding: 0px 36px 0px 36px;
  height: 36px;
  max-width: 1200px;
  margin: auto;
  display: block;
  position: relative;
}

.nav-bar-link-container {
  float: right;
  height: 36px;
}

.nav-bar-link {
  font-size: 0.75rem;
  float: right;

  padding: 0px 16.8px 0px 16.8px;
  line-height: 36px;
  vertical-align: middle;
  box-sizing: border-box;
  color: #626A6B;


}

.white-link {
  color: white;
  font-size: 14px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}
.nav-bar-link:visited {
  color: #626A6B;
}

.white-link:visited {
  color: white;
}
.nav-bar-link:not(:last-child):before {
  position: relative;;
  content: "";
  display: inline-block;
  height: 1.25rem;
  border-left: 1px solid #cfd2d3;
  left: -16.8px;
  transform: translateY(25%);

}

.white-link:not(:last-child):before {
  border-left: 1px solid white;
}
.color-logo {
  height: 24px;
  width: auto;
  position: absolute;
  top: 20%;
  // transform: translateY(50%);
}

.white-logo {
  height: 40px;
  width: auto;
  position: absolute;
  top: 20%;
  // transform: translateY(50%);
}

// CFD2D3 link divider
// EBECEC


.cat-hero-container {
  height: 420px;
}

.cat-hero {
  height: 100%;
  // background:#626A6B;
  overflow: hidden;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cat-hero-header {
  line-height: 72px;
  margin: 0px;
  font-size: 64px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

.cat-hero-subtitle {
  font-size: 1.5rem;
    font-weight: 600;
    max-width: 32em;
    text-shadow: 0 1px 7px rgba(0,0,0,0.4);
    margin: 0 auto;
    color: white;
    text-align: center;
}

.hero-text {
  padding: 0 1em;
    position: relative;
    top: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
