.nav-bar {
  padding: 12px 0px 12px 0px;
  display: block;
  background-color: white;
  height: 36px;
  border-bottom: 1px solid #EBECEC;
}

.navBarThin {
  padding: 0px 36px 0px 36px;
  height: 36px;
  display: block;
  position: relative;
}

.nav-bar-link-container {
  float: right;
  height: 36px;
}

.nav-bar-link {
  font-size: 0.75rem;
  float: right;

  padding: 0px 16.8px 0px 16.8px;
  line-height: 36px;
  vertical-align: middle;
  box-sizing: border-box;
  color: #626A6B;
}

.nav-bar-link:visited {
  color: #626A6B;
}

.nav-bar-link:not(:last-child):before {
  position: relative;;
  content: "";
  display: inline-block;
  height: 1.25rem;
  border-left: 1px solid #cfd2d3;
  left: -16.8px;
  transform: translateY(25%);
}

.color-logo {
  height: 24px;
  width: auto;
  position: absolute;
  top: 20%;
  // transform: translateY(50%);
}

// CFD2D3 link divider
// EBECEC
