// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-container {
  height: 320px;


}

#search-bar-splash {
  max-width: 480px;
  margin: 36px auto;
  position: relative;
  // z-index: 50;
}

// .mktg-intermediate {
//     max-width: 960px;
//     height: 400px;
//     margin: auto;
//     background-color: white;
// }

.hero {
  height: 100%;
  padding-top: 180px;
  // background:#626A6B;
  overflow: hidden;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('http://res.cloudinary.com/duwqltu7o/image/upload/c_scale,w_1920/v1456699920/cat_poised_xotjx3.jpg');
}

.hero-header {
  line-height: 72px;
  margin: 0px;
  font-size: 64px;
  color: white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

.thingy {
  height: 500px;
  position: relative;
}

.category-index-wrapper {
  padding: 54px 0px;
  max-width: 1236px;
  // position: absolute;
  // z-index: 1;
  margin: auto;
  h2 {
    margin: 0px 0px 40px 0px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }
}

#cat-index {
}

.signup-container {
  width: 452px;
  transform: translateX(-50%);
  left: 50%;
  padding: 18px 24px;
  position: absolute;
  background-color: rgba(255,255,255,0.9);
  top: 32px;
  border-radius: 4px;

  .dark-blue-button {
    width: 100%;
    font-size: 18px;

    padding: 10px 28px;
    margin: 0px;
  }
}


.new-user-bg {
  // width: 100%;
  height: 100%;
  // min-height: 1000px;
  background-size: cover;
  background-position: left;
  position: absolute;
  background-repeat: no-repeat;
  // display: flex;
  // align-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('http://res.cloudinary.com/duwqltu7o/image/upload/v1457324165/lion_bg_ss7ukq.jpg');
}

.credentials-field {
  margin-bottom: 16px;

  label {
    font-size: 14px;
  }
}


.full-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 54px;
  margin: auto;
  background-image: url('http://res.cloudinary.com/duwqltu7o/image/upload/v1457326524/full-color-logo_jqeqf0.png');
}


.footer-link {
  color: white;
  padding-left: 24px;
}
