.tasker-index-item {
  background-color: white;
  margin-bottom: 32px;
  width: 736px;
  height: auto;
  min-height: 201px;
  display: block;
  padding: 32px;
}

.tasker-img {
  width: 201px;
  height: 201px;
  display: block;
}

.tasker-select-box {
  width: 201px;
  height: auto;
  float: left;
}

.tasker-index-item-content {
  width: auto;
  height: auto;
  margin-left: 32px;
  display: inline-block;
  float: left;
}
