.task-body {
  margin: auto;
  max-width: 1200px;
  display: flex;
}

.task-container {
  width: 852px;
  padding-right: 48px;
  padding-left: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  float: left;
}

.task-link {
  position: relative;
  color: #323A3B;

  :visited {
    color: #323A3B;
  }

  :hover {
    color: #626A6B;
  }
}

.task-image {
  border-radius: 100%;
  width: 150px;
  height: 150px;


  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.task-image-container {
  float: left;
  padding-right: 32px;
}

.task-content-container {
  float: left;
  position: relative;
}

.task-item {
  background-color: white;
  padding: 28px 48px 32px 32px;
  display: flex;
  width: 100%;

  &:not(:first-child) {
    margin-top: 16px;
  }
}

.task-description {
  display: block;
  vertical-align: baseline;
  padding-bottom: 18px;
  margin: 0px;
}

.task-header {
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  display: block;
  vertical-align: baseline;
  line-height: 44.8px;
  margin-bottom: 11.65px;
}

.marketing-col {
  width: 300px;
  height: 300px;
  display: block;

  float: left;
}
