



.tasker-index-item {
  background-color: white;
  margin-bottom: 32px;
  width: 100%;
  box-sizing: border-box;
  min-height: 201px;
  display: flex;
  flex-direction: row;
  padding: 32px;
}

.tasker-img {
  max-width: 201px;
  max-height: 201px;
  background-color: black;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
}

.tasker-select-box {
  max-width: 201px;
  height: auto;

  .blue-button {
    width: 201px;
    text-align: center;
  }
}

.tasker-index-item-content {
  margin-left: 32px;
  width: 100%;
}

.tasker-name {
  margin: 0px;
  display: inline-block;
  line-height: 44px;
  font-size: 32px;
}

.rate-badge {
  display: inline-block;
  float: right;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  background-color: #EBECEC;
  border-radius: 1.25rem;
  padding: 0rem 1rem;
}

.tasker-select-button {
  width: 100%;
}

.tasker-index-item-top {
  height: 44px;
  margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
  .tasker-index-item {
    flex-direction: column;
    max-width: 350px;
    margin: auto;
  }

  .tasker-select-box {
    width: 100%;
    max-width: 600px ;
  }

  .tasker-img {
    max-width: 320px;
    max-height: 320px;
    width: 100%;
    height: auto;
  }
}


.tasker-img-circ {
  width: 172px;
  height: 172px;
  background-color: black;
  margin: auto;
  border-radius: 50%;
  border: 4px solid white;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.profile-banner {
  height: 345px;
  padding: 32px 0px;
  background-image: url('http://res.cloudinary.com/duwqltu7o/image/upload/v1456878164/profile_banner_bg_kioy0b.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-banner-content {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.profile-title {
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  margin: 32px 0px 0px 0px;

  strong {
    font-weight: 400;
  }
}

.task-title {
  font-size: 28px;
  height: 40px;
  font-weight: 400;
  margin: 0px 0px 10px 0px;
}

.task-blurb {
  font-size: 14px;
  margin: 0px 0px 18px 0px;
}

.tasker-task-info {
  padding: 0px 8px;
  float: left;

}

.tasker-task-row {
  display: block;
  margin: auto;
  width: 100%;

  &:not(:first-child) {
    margin-top: 32px;

  }

  .blue-button {
    max-height: 50px;
    line-height: 28px;
    font-size: 20px;
    padding: 8px 22px;
    float: right;
  }
}


.tasker-task-list {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 32px 0px;
  max-width: 960px;
}

.available-task-container {
  background-color: white;
}

.profile-main-container {
  margin-bottom: 85px;
}

.tasker-blurb {
  padding-top: 16px;
  border-top: 1px solid #ebecec;

  label {
    color: #323A3B;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    display: inline-block;
  }
}
